
<!DOCTYPE html>
<html>
<head>
{% include 'home.html' %}
	<title></title>
</head>
<body>
<div class="container">
<form  name="form" action="/cartapp/addToCart" method="POST" >
{% csrf_token %}
<h2> ADD TO CART </h2>
<table border="4" class="table-success">
<tr>
<td>Product ID:</td>
<td><input type="text" style="margin-left:20%;" placeholder="Identifiant" name="productfk" value="{{productfk}}" readonly /></td>
</tr>
<tr>
<td>Email ID:</td>
<td class="table-success"><input type="text" style="margin-left:20%;" size="30" placeholder="Identifiant" name="emailfk" value="{{ request.session.email }}" readonly /></td>
</tr>
<tr>
<td>Quantity:</td>
<td><input type="text" style="margin-left:20%;" placeholder="Identifiant" name="productquantity" /></td>
</tr>
</table>
<input type="submit" class="btn btn-primary" value="ADD">
<input type="reset" class="btn btn-secondary" value="CLEAR">
</form>
</div>
</body>
</html>