{% include 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body >
<div class="container">
<!--
<form method="POST" action="/customerapp/login/">	
Email Address:<input type="text" id="email" name="email" placeholder="user@gmail.com"><br/>
password:<input type="password" id="password" name="password" placeholder="Enter your password"><br/>
<input type="submit" class="btn btn-info" value="Login">
{% csrf_token %} 
-->
<form method="POST" action="/staffapp/salogin/">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="radio">
  <label><input type="radio" name="role" value='staff' checked>Staff</label>
</div>
<div class="radio">
  <label><input type="radio" name="role" value='admin'>Admin</label>
</div>
  {% csrf_token %} 
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
</div>
</form>
</body>
</html>